/*
COLORS:
Light green: #7ed56f
Medium green: #55c57a
Dark green: #28b485
*/

/*I'm going to use the universal selector for a simple reset, this will select each and every element and apply the following declarations*/
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box; /*Borders and paddings will not add to the total width and height that we specify*/
}

/*I am using this tag so i can inherit the following styling later*/
body {
    font-family: "Lato", sans-serif; /*The Lato font has already been linked to Google Fonts*/
    font-weight: 400;
    font-size: 16px;
    line-height: 1.7; /*1.7 times bigger than the predefined height*/
    color: #777;
    padding: 15px; /*The whole page will have this white padding*/
}

/*Style of the header*/
.header {
    height: 95vh; /*95 View Height unit is equivalent to 95% of the viewport height*/
    background-image: /*2 background images, a thin linear gradient and an image*/
        linear-gradient( /*A thin gradient to increase contrast*/
        to right bottom, 
        rgba(126, 213, 111, 0.8), 
        rgba(40, 180, 131, 0.8)) , 
        url(../img/hero.jpg); /*Link to the hero image*/
    background-size: cover; /*I want to cover all the box*/
    background-position: top; /*The top of the image will always stay as the main aspect, if it is need to cut the image, it will do so from elsewhere*/
    clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%); /*It has 4 clockwise coordinates x y starting top left for the clips out effect*/
    position: relative; /*Header is the parent of logo-box, so i added relative*/
}

/*Logo container*/
.logo-box {
    position: absolute;
    top: 40px; /*From the reference which is the parent element (header), with position relative*/
    left: 40px;
}

/*Logo image*/
.logo{
    height: 35px;
}

/*text-box is to center both h1 and a -call to action- button*/
.text-box {
    position: absolute;
    top: 40%; /*From the parent element (header)*/
    left: 50%;
    transform: translate(-50%, -50%); /*(From the element itself)*/
}

/*Hero h1 container. Inside there are 2 span: main and sub*/
.heading-primary {
    color: #fff;
    text-transform: uppercase;
    backface-visibility: hidden; /*So set the entire back part of the heading invisible to the user. It fixes the shakingness*/
}

/*h1 first part "Outdoors"*/
.heading-primary-main {
    display: block; /*Block-level elements occupy the entire width & create line breaks before and after (that's what i want)*/
    font-size: 60px;
    font-weight: 400;
    letter-spacing: 35px;
    animation-name: moveInLeft; /*Assigning keyframes rules*/
    animation-duration: 1.8s; 
    animation-timing-function: ease-out;
}

/*h1 second part "is where life happens"*/
.heading-primary-sub {
    display: block;
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 17.4px;
    animation-name: moveInRight; /*Assigning keyframes rules*/
    animation-duration: 1.8s;
    animation-timing-function: ease-out;
}

/*Animation of h1, 1st part, "Outdoors" (heading-primary-main)*/
@keyframes moveInLeft {
    0% {     
        opacity: 0; /*Starts invisible*/
        transform: translateX(-100px); /*Starts on the left*/
    }

    80% {
        /*Pass over the center and goes 15px to the right */
        transform: translateX(10px); 
    }

    100% {
        opacity: 1; /*Regains Visibility*/
        transform: translateX(0); /*Returns 15px back to the center*/
    }
}

/*Animation of h1, 2nd part, "is where..." (heading-primary-sub)*/
@keyframes moveInRight {
    0% {     
        opacity: 0; /*Starts invisible*/
        transform: translateX(100px); /*Starts on the right*/
    }

    80% {
        /*Pass over the center and goes 15px to the left */
        transform: translateX(-10px); 
    }

    100% {
        opacity: 1; /*Regains Visibility*/
        transform: translateX(0); /*Returns 15px back to the center*/
    }
}