@mixin clearfix {
    &::after{
        content: "";
        display: table;
        clear: both;
    }
}

//This mixin is to centering
@mixin absCenter {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


/*
In here we are going to pass the next breakpoints
$breakpoint argument choices:
phone
tab-portrait
tab-landscape
big-desktop

Order to write media queries: base + typography > general layout + grid > page layout > components
*/

//Media query manager
@mixin respond ($breakpoint) {
    
    //Media query from 0 to 600px
    @if $breakpoint == phone {
        @media (max-width: 37.5em) { @content };
    }

    //Media query from 600px to 900px 
    @if $breakpoint == tab-portrait {
        @media (max-width: 56.25em) { @content };
    }
    //Media query from 900px to 1200px
    @if $breakpoint == tab-landscape {
        @media (max-width: 75em) { @content };
    }

    //Media query from 1200px to 1300px
    @if $breakpoint == laptop {
        @media (max-width: 112.5em) { @content };
    }

    //Media query from 1200 to 1800 is no needed (because we adopt the desktop-first approach

    //Media query from 1800px to bigger resolutions 
    @if $breakpoint == big-desktop {
        @media (min-width: 112.5em) { @content };
    }
}