//Importing the -abstracts- scss file
@import "abstracts/functions";
@import "abstracts/mixins";
@import "abstracts/variables";

//Importing the -base- scss file
@import "base/animations";
@import "base/base";
@import "base/typography";
@import "base/utilities";

//Importing the -components- scss file
@import "components/button";

//Importing the -layout- scss file
@import "layout/header";

//Importing the -pages- scss file
@import "pages/home";

/*Hero h1 container. Inside there are 2 span: main and sub*/
.heading-primary {
    color: $color-white;
    text-transform: uppercase;
    backface-visibility: hidden; /*So set the entire back part of the heading invisible to the user. It fixes the shakingness*/
    margin-bottom: 6rem; /*With this we add spacing with the white button*/
    
    /*h1 first part "Outdoors nested inside heading-primary"*/
    &--main {
        display: block; /*Block-level elements occupy the entire width & create line breaks before and after (that's what i want)*/
        font-size: 6rem;
        font-weight: 400;
        letter-spacing: 3.5rem;
        animation-name: moveInLeft; /*Assigning keyframes rules*/
        animation-duration: 1.8s; 
        animation-timing-function: ease-out;
    }

    /*h1 second part "is where life happens nested inside heading-primary"*/
    &--sub {
        display: block;
        font-size: 2rem;
        font-weight: 700;
        letter-spacing: 1.74;
        animation-name: moveInRight; /*Assigning keyframes rules*/
        animation-duration: 1.8s;
        animation-timing-function: ease-out;
    }
}





