//This component holds the background video of the story section
.bg-video {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
    overflow: hidden;
    transform: skewY(-6deg); 
    
    //Setting height and width to the video, and to cover not only the container but the entire parent
    &__content {
        height: 100%;
        width: 100%;
        object-fit: cover; //Manteins its aspect ratio
        filter: blur(1px) brightness(80%);
    }

    
}



