//This is a component for the stories section
.story {
    //Styling of the -Story- component
    width: 75%;
    margin: 0 auto;
    box-shadow: 0 3rem 6rem rgba($color-black, .1);
    background-color: $color-white;
    border-radius: 3px;
    padding: 6rem 6rem 8rem 9rem;
    font-size: $default-font-size;
    transform: skewX(-12deg);

    //Circular Shape to hold the user's photo of the story section
    &__shape {
        width: 15rem;
        height: 15rem;
        float: left;
        -webkit-shape-outside: circle(50% at 50% 50%);
        shape-outside: circle(50% at 50% 50%);
        -webkit-clip-path: circle(50% at 50% 50%);
        clip-path: circle(50% at 50% 50%);
        //Moving the image up and skewing back so the skew effect only applies to the box
        transform: translateX(-0.9rem) skewX(12deg);
        position: relative;
        overflow:hidden;
    }

    //Styling the image of the user that goes inside the shape
    &__img {
        backface-visibility: hidden;
        height: 100%;
        transform: translateX(-3.8rem) scale(1.4);
        transition: all .5s;
    }

    //Skew back the text so it the "skew" effect only applies to the box
    &__text {
        transform: skewX(12deg);
        margin-left: 5rem;
    }

    //The name of the user appears on top of the image when hover
    &__caption {
        position: absolute;
        top: 50%;
        left: 55%;
        transform: translate(-50%, 20%);
        color: $color-white;
        text-transform: uppercase;
        font-size: 1.8rem;
        opacity: 0;
        transition: all .5s;
    }

    &:hover &__caption {
        opacity: 1;
        transform: translate(-50%, -50%);
    }

    &:hover &__img {
        transform: translateX(-3.8rem) scale(1);
        filter: blur(3px) brightness(80%);
    }
}