//In this file are all the animations of the entire project

/*Animation of h1, 1st part, "Outdoors" (heading-primary-main)*/
@keyframes moveInLeft {
    0% {     
        opacity: 0; /*Starts invisible*/
        transform: translateX(-10rem); /*Starts on the left*/
    }

    80% {
        /*Pass over the center and goes 15px to the right */
        transform: translateX(1rem); 
    }

    100% {
        opacity: 1; /*Regains Visibility*/
        transform: translateX(0); /*Returns 15px back to the center*/
    }
}

/*Animation of h1, 2nd part, "is where..." (heading-primary-sub)*/
@keyframes moveInRight {
    0% {     
        opacity: 0; /*Starts invisible*/
        transform: translateX(10rem); /*Starts on the right*/
    }

    80% {
        /*Pass over the center and goes 15px to the left */
        transform: translateX(-1rem); 
    }

    100% {
        opacity: 1; /*Regains Visibility*/
        transform: translateX(0); /*Returns 15px back to the center*/
    }
}

/*Animation of -Hero Section- button. When we load the page it appears from the bottom*/
@keyframes moveInBottom {
    0% {     
        opacity: 0; /*Starts invisible*/
        transform: translateY(4rem); /*Starts on the bottom*/
    }

    80% {
        /*Pass over the center and goes 10px up*/
        transform: translateY(-0.5rem);
    }

    100% {
        opacity: 1; /*Regains Visibility*/
        transform: translateY(0) /*Returns 5px back to the center*/
    }
}
