//Style very specific to the homepage

.section-about {
    background-color: $color-grey-light-1;
    padding: 25rem 0; //Top and bottom 25rem   
    margin-top: -20vh; //So the grey background touches the polygon
    margin-bottom: 11vh;
}

.section-features {
    height: 60vh;
    padding: 20rem 0rem;
    background-image: /*2 background images, a thin linear gradient and an image*/
    linear-gradient( /*A thin gradient to increase contrast*/
    to right bottom, 
    rgba($color-primary-light, 0.8), 
    rgba($color-primary-dark, 0.76)) , 
    url(../img/nat-4.jpg); /*Link to the hero image*/
    background-size: cover; /*I want to cover all the box*/
    transform: skewY(-7deg);
    //Here we are going to select the direct children (row)
    & > * {
        transform: skewY(7deg);
    }
}
    
.section-tours {
    background-color: $color-grey-light-1;
    padding: 15rem 0 15rem 0; //Top and bottom 25rem 
    //margin-bottom: 15rem;  
}

.section-stories {
    padding: 15rem 0;
    background-color: $color-grey-light-1;
    position: relative;
}